extends layout

block content
    h1= "Should I Bother My Hole?"
    
    each movie in movies
        ul
            li
                strong= movie.title
                = " (" + movie.release_date + ")"
            li
                a(href="/" + movie.url)= "View"
